<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>HCMUT AutoGrader - BotKify</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>HCMUT - AutoGrader BotKify 🚀</h1>

      <div class="upload-wrapper" id="dropZone">
        <p style="margin-bottom: 5px; font-size: 16px">
          <b>Yêu cầu:</b> Kéo thả hoặc chọn các file:
          <code>BotkifyLinkedList.h</code>, <code>Playlist.h</code>, và
          <code>Playlist.cpp</code>
        </p>

        <input type="file" id="fileInput" multiple accept=".cpp,.h" />
        <button
          class="browse-btn"
          onclick="document.getElementById('fileInput').click()"
        >
          📁 Chọn Files
        </button>

        <div class="file-list-container" id="fileList"></div>

        <button class="submit-btn" onclick="submitCode()" id="runBtn">
          Nộp Bài & Chấm Điểm
        </button>
      </div>

      <div id="globalStatus"></div>

      <div class="pagination-container" id="paginationControlsTop"></div>

      <div class="table-responsive">
        <table>
          <thead>
            <tr>
              <th width="8%">STT</th>
              <th width="37%">Test Case (Code)</th>
              <th width="20%">Expected</th>
              <th width="20%">Got</th>
              <th width="15%">Status</th>
            </tr>
          </thead>
          <tbody id="resultBody"></tbody>
        </table>
      </div>

      <div class="pagination-container" id="paginationControlsBottom"></div>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
